@model library10.Models.ViewModels.LoginViewModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, library10




<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="panel panel-primary">
            
           <div class="panel-heading">فرم ورود</div> 
            
            <div class="panel-body">
                <section>
                    
                    <form asp-controller="Account" asp-action="Login" method="post" class="form-horizontal" asp-route-returnurl="@ViewData["ReturnUrl"]">
                        <h4>فرم ورود به سیستم</h4>
                        <hr/>
                        
                        <div class="form-group">
                            <label asp-for="UserName" class="col-md-4 control-label"></label>
                            
                            <div class="col-md-8">
                                <input asp-for="UserName" class="form-control"/>
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label asp-for="Password" class="col-md-4 control-label"></label>
                            
                            <div class="col-md-8">
                                <input asp-for="Password" class="form-control"/>
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-4 col-md-10">
                                <div class="checkbox">
                                    <label asp-for="RememberMe">
                                        <input asp-for="RememberMe"/> @Html.DisplayNameFor(m => m.RememberMe);
                                    </label>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="col-md-offset-4 col-md-8">
                                <button type="submit"class="btn btn-success">ورود به سیستم</button>
                            </div>
                        </div>
                    </form>
                    
                </section> 
            </div>
            
        </div>
        
        
    </div>
    
    <div class="col-md-3"></div>
    
    
    
    

</div>