﻿@model library10.Models.BookGroup
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, library10
@using library10.PublicModel



@*@Html.AntiForgeryToken()*@
<form asp-controller="BookGroup" asp-action="AddEditBookGroup" id="FrmAddEditBookgroup" data-ajax="true" data-ajax-method="POST"
 data-ajax-update="#FrmAddEditBookgroup" data-ajax-mode="replace">

    @* Header *@
    @if (Model.BookGroupId == 0)

    {
        @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "افزودن گروه بندی" })

    }

    else
    {
        @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "ویرایش گروه بندی" })

    }

    @* body *@
    <div class="modal-body form-horizontal">
        <div class="row">
            <div class="form-group">
                <label asp-for="BookGroupName" class="col-lg-3 col-sm-3 control-label"></label>
                <div class="col-lg-6">
                    <input asp-for="BookGroupName" class="form-control" />
                    <span asp-validation-for="BookGroupName" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="BookGroupDescription" class="col-lg-3 col-sm-3 control-label"></label>
                <div class="col-lg-6">
                    <input asp-for="BookGroupDescription" class="form-control" />
                    <span asp-validation-for="BookGroupDescription"class="text-danger"></span>
                </div>
            </div>
            
            <div class="form-group hidden">
                <label asp-for="BookGroupId" class="col-lg-3 col-sm-3 control-label"></label>
                <div class="col-lg-6">
                    <input asp-for="BookGroupId" class="form-control" />
                </div>
            </div>
            
            <input type="hidden" name="redirecturl" value="@Url.Action("Index","BookGroup")"/>

        </div>


    </div>

    @* Footer *@
    @if (Model.BookGroupId == 0)
    {
        @await Html.PartialAsync("_ModalFooter", new ModalFooter { SubmitButtonText = "افزودن گروه بندی" })

    }
    else
    {
        @await Html.PartialAsync("_ModalFooter", new ModalFooter { SubmitButtonText = "ویرایش گروه بندی" })

    }

</form>