﻿@model string
@using library10.PublicModel


@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, library10

<form asp-controller="BookGroup" asp-action="DeleteBookGroup">
    
    @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "حذف گروه بندی" })
    
    <div class="modal-body form-horizontal">
        آیا از حذف گروه @Model مطمئن هستید؟
    </div>
    
    @await Html.PartialAsync("_ModalFooter", new ModalFooter { SubmitButtonText = "حذف گروه بندی" })

    

</form>