@model ReflectionIT.Mvc.Paging.PagingList<library10.Models.BookGroup>
@using ReflectionIT.Mvc.Paging
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, library10
@using library10.PublicModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @Html.Partial("_AdminPanel")
</div>
<div class="col-md-9">

    <div class="topbuffer"></div>
    <div class="panel panel-primary">


        <div class="panel-heading">

            <div class="col-md-8" style="font-size: 17px;">لیست گروه بندی کتاب ها</div>
            <div>
                <form asp-controller="BookGroup" asp-action="SearchBookGroup" method="post">
                    <div class="input-group">
                    <div class="input-group-btn">
                        <button class="btn btn-success pull-right">جستجو!</button>
                    </div>
                    <div>
                        <input type="text" id="groupSearch" name="groupSearch" class="form-control" placeholder="جستجو در گروه بندی ها"/>
                    </div>
                    </div>
                </form>
            </div>
         
            </div>

        <div class="panel-body">
            <div class="btn btn-group marginbootn ">
                 
                <a class="btn btn-primary" id="ShowAddBookGroup" data-toggle="modal" asp-action="AddEditBookGroup"
                   data-target="#modal-action-bookgroup">
                    <i class="glyphicon glyphicon-plus"></i>
                    افزودن گروه بندی جدید

                </a>
                 
            </div>

            <div></div>
            <table class="table table-bordered table-striped table-condensed">

                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.BookGroupName) </th>
                        <th>@Html.DisplayNameFor(model => model.BookGroupDescription) </th>
                        <th>عملیات</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var itme in Model)
                    {
                        <tr>
                            <td>@itme.BookGroupName</td>
                            <td>@itme.BookGroupDescription</td>
                            <td>
                                <a class="btn btn-info" id="ShowEditUser" asp-action="AddEditBookGroup" data-toggle="modal"
                                   data-target="#modal-action-bookgroup" asp-route-id="@itme.BookGroupId">

                                    <i class="glyphicon glyphicon-pencil"></i>
                                    ویرایش گروه بندی
                                </a>
                                @if (itme.Books.Count() == 0)
                                {
                                    <a class="btn btn-danger" id="ShowDeleteUser" data-toggle="modal" asp-action="DeleteBookGroup"
                                       data-target="#modal-action-bookgroup" asp-route-id="@itme.BookGroupId">
                                        <i class="glyphicon glyphicon-trash"></i>
                                        حذف گروه بندی
                                    </a>
                                }

                            </td>
                        </tr>
                    }
 
                </tbody>
                 
            </table>
            <nav class="text-center">
                @await this.Component.InvokeAsync("Pager",new {PagingList=Model })
            </nav>
        </div>

    </div>
    </div>

    @Html.Partial("_Modal", new BootstrapModel { ID = "modal-action-bookgroup", Size = ModalSize.Medium })

    @section Scripts{

        <script src="~/js/ModalJs/Bookgroup-index.js"></script>
        <script src="~/js/AdminPanelScript.js"></script>


    }
