@model ReflectionIT.Mvc.Paging.PagingList<library10.Models.ViewModels.PaymentTransactionViewModel>
@using ReflectionIT.Mvc.Paging
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, library10
@using library10.PublicModel

@{
    ViewData["Title"] = "لیست تراکنش های مالی";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/TimePicker/jquery.Bootstrap-PersianDateTimePicker.css" rel="stylesheet" />
<div>
    @Html.Partial("_AdminPanel")
</div>
<div class="col-md-9">
    <div class="topbuffer"></div>
    <div class="panel panel-primary">

        <div class="panel-heading" style="border:0px; margin:0 !important; padding-bottom:1px;">
            <div class="col-md-3" style="font-size:17px;">لیست تراکنش های مالی</div>

            <form method="post" asp-controller="ManageTransaction" asp-action="SearchInTransactions" class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-2">
                        <input type="text" id="userSearch" name="userSearch" class="form-control" placeholder="جستجو در نام کاربر.." />
                    </div>
                    <div class="input-group col-md-2 pull-right">
                        <div class="input-group-addon" data-MdDateTimePicker="true" data-trigger="click" data-targetselector="#fromDate1" data-groupid="group1" data-fromdate="true" data-enabletimepicker="false" data-placement="left">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </div>
                        <input type="text" class="form-control" id="fromDate1" name="fromDate1" placeholder="از تاریخ" data-MdDateTimePicker="true" data-trigger="click" data-targetselector="#fromDate1" data-groupid="group1" data-fromdate="true" data-enabletimepicker="false" data-placement="right" />
                    </div>

                    <div class="input-group col-md-2 pull-right">
                        <div class="input-group-addon" data-MdDateTimePicker="true" data-trigger="click" data-targetselector="#todate1">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </div>
                        <input type="text" class="form-control" id="todate1" name="todate1" placeholder="تا تاریخ" data-MdDateTimePicker="true" data-placement="right" />
                    </div>

                    <div class="btn-group col-md-2 pull-left">
                        <button class="btn btn-default pull-right" type="submit">جستجو</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="panel-body">

            <table class="table table-bordered table-striped table-condensed">

                <thead>
                    <tr class="success">
                        <th class="text-center" style="font-weight: 600">ردیف</th>
                        <th class="text-center">@Html.DisplayNameFor(model => model.UserFullName) </th>
                        <th class="text-center">@Html.DisplayNameFor(model => model.Amount) </th>
                        <th class="text-center">@Html.DisplayNameFor(model => model.Description) </th>
                        <th class="text-center">@Html.DisplayNameFor(model => model.Email) </th>
                        <th class="text-center">@Html.DisplayNameFor(model => model.Mobile) </th>
                        <th class="text-center">@Html.DisplayNameFor(model => model.TransactionDate) </th>
                        <th class="text-center">@Html.DisplayNameFor(model => model.TransactionTime) </th>
                        <th class="text-center">@Html.DisplayNameFor(model => model.TransactionNumber) </th>
                        
                    </tr>
                </thead>
                <tbody>
                    @{
                        int counter = 1;

                        foreach (var item in Model)
                        {
                            string setClass = "";
                            if (counter%2==0)
                            {
                                setClass = "danger";
                            }
                            <tr style="height: 50px"class="@setClass">
                                <td class="text-center">@(counter++)</td>
                                <td class="text-center">@item.UserFullName</td>
                                <td class="text-center">@item.Amount</td>
                                <td class="text-center">@item.Description</td>
                                <td class="text-center">@item.Email</td>
                                <td class="text-center">@item.Mobile</td>
                                <td class="text-center">@item.TransactionDate</td>
                                <td class="text-center">@item.TransactionTime</td>
                                <td class="text-center">@item.TransactionNumber</td>

                            </tr>
                        }
                    }

                </tbody>

            </table>
            <nav class="text-center">@await this.Component.InvokeAsync("Pager", new { PagingList = this.Model })</nav>
        </div>

    </div>

</div>

@Html.Partial("_Modal", new BootstrapModel { ID = "modal-action-request", Size = ModalSize.Medium })

@section Scripts{
    <script src="~/js/ModalJs/Request-index.js"></script>
    <script src="~/js/AdminPanelScript.js"></script>
    <script src="~/TimePicker/calendar.js"></script>
    <script src="~/TimePicker/jquery.Bootstrap-PersianDateTimePicker.js"></script>
}


