@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, library10
@{
    ViewData["Title"] = "FailedPay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>@Html.Partial("_UserPanel")</div>
<div class="col-md-9">
    <div class="panel panel-danger">
        <div class="panel-heading">پرداخت ناموفق</div>
        <div style="font-size: 16px; text-align: center">
            عملیات ناموفق بود درصورتی که مبلغی از حساب شما کسر شده است ظرف مدت 72 ساعت آینده به حساب شما برگشت داده خواهد شد.
        </div>
    </div>
</div>


@section Scripts
    {
    <script src="~/js/AdminPanelScript.js"></script>

}
