@model library10.Models.PaymentTransaction
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, library10


@{
    ViewData["Title"] = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @Html.Partial("_UserPanel")
</div>

<div class="col-md-9">
    
    <div class="panel panel-primary">
        <div class="panel-heading">شارز حساب</div>
        <div class="panel-body form-horizontal">
            <form asp-controller="Payment" asp-action="Payment" method="post" style="text-align: center">
                <div class="form-group">
                    <label asp-for="Amount" class="control-label col-lg-3 col-sm-3"></label>
                    <div class="col-lg-6">
                        <input asp-for="Amount" class="form-control"/>
                        <span class="text-danger">@Html.ValidationMessage("amountError")</span>
                    </div>
                </div>
                
                <div class="form-group">
                    <label asp-for="Email" class="control-label col-lg-3 col-sm-3"></label>
                    <div class="col-lg-6">
                        <input asp-for="Email" class="form-control"/>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                
                <div class="form-group">
                    <label asp-for="Mobile" class="control-label col-lg-3 col-sm-3"></label>
                    <div class="col-lg-6">
                        <input asp-for="Mobile" class="form-control"/>
                        <span asp-validation-for="Mobile" class="text-danger"></span>
                    </div>
                </div>
                
                <div class="form-group">
                    <label asp-for="Description" class="control-label col-lg-3 col-sm-3"></label>
                    <div class="col-lg-6">
                        <input asp-for="Description" class="form-control"/>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
                
                <div class="form-group" style="text-align: center">
                    <button class="btn btn-success">پرداخت</button>
                </div>
            </form>
        </div>
    </div>
    
</div>

@section Scripts
{
    <script src="~/js/AdminPanelScript.js"></script>

}
