@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, library10
@{
    ViewData["Title"] = "پرداخت موفق";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>@Html.Partial("_UserPanel")</div>
<div class="col-md-9">
    <div class="panel panel-success">
        <div class="panel-heading text-center" style="color: green; font-weight: 700;">پرداخت موفق</div>
        <div class="panel-body form-horizontal">
        <div style="font-size: 16px; text-align: center">
            پرداخت با موفقیت انجام شد و حساب شما شارژ گردید.
        </div>
            <div class="col-md-offset-4">
                <table class="table table-bordered table-striped table-condensed text-center col-md-6">
                    <tbody>
                    <tr>
                        <td>شماره تراکنش</td>
                        <td>@ViewBag.TransactionNumber</td>
                    </tr>
                    <tr>
                        <td>مبلغ تراکنش</td>
                        <td>@ViewBag.TransactionAmount</td>
                    </tr>
                    <tr>
                        <td>تاریخ تراکنش</td>
                        <td>@ViewBag.TransactionDate</td>
                    </tr>
                    <tr>
                        <td>زمان تراکنش</td>
                        <td>@ViewBag.TransactionTime</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script src="~/js/AdminPanelScript.js"></script>

}