﻿@using library10.PublicModel
@model library10.Models.ViewModels.ApplicationRoleViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, library10


<form asp-action="AddEditRole" asp-controller="ApplicationRole"  id="addeditrole" data-ajax="true" data-ajax-method="POST"
      data-ajax-update="#addeditrole" data-ajax-mode="replace">
    
   @* Header *@
    @if (string.IsNullOrEmpty(Model.Id))
    {
        @await Html.PartialAsync("_ModalHeader", new ModalHeader {Heading = "افزودن نقش  سیستمی"})

    }

    else
    {
        @await Html.PartialAsync("_ModalHeader", new ModalHeader {Heading = "ویرایش نقش سیستمی"})

    }

    @* body *@
    <div class="modal-body form-horizontal">
        <div class="row">
            <div class="form-group">
                <label asp-for="Name" class="col-lg-3 col-sm-3 control-label"></label>
                <div class="col-lg-6">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="col-lg-3 col-sm-3 control-label"></label>
                <div class="col-lg-6">
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>

                </div>
            </div>

            <div class="form-group hidden">
                <label asp-for="Id" class="col-lg-3 col-sm-3 control-label"></label>
                <div class="col-lg-6">
                    <input asp-for="Id" class="form-control" />

                </div>
            </div>
            <input type="hidden" name="redirecturl" value="@Url.Action("Index","ApplicationRole")"/>

        </div>


    </div>

    @* Footer *@
    @if (string.IsNullOrEmpty(Model.Id))
    {
        @await Html.PartialAsync("_ModalFooter",new ModalFooter{SubmitButtonText = "افزودن نقش"})

    }
    else
    {
        @await Html.PartialAsync("_ModalFooter",new ModalFooter{SubmitButtonText = "ویرایش نقش"})

    }

</form>