﻿@model string
@using library10.PublicModel


@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, library10

<form asp-controller="ApplicationRole" asp-action="DeleteRole">

    @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "حذف نقش" })

    <div class="modal-body form-horizontal">
        آیا از حذف نقش @Model مطمئن هستید؟
    </div>

    @await Html.PartialAsync("_ModalFooter", new ModalFooter { SubmitButtonText = "حذف نقش" })



</form>
