@using library10.PublicModel
@model IEnumerable<library10.Models.ViewModels.ApplicationRoleViewModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, library10
@using System.Data.SqlTypes

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @Html.Partial("_AdminPanel")
</div>
<div class="col-md-9">
    <div class="topbuffer"></div>
    <div class="panel panel-primary">

        <div class="panel-heading panel-head">لیست نفش ها</div>

        <div class="panel-body">
            <div class="btn btn-group marginbootn">

                <a class="btn btn-primary" id="ShowAddRole" data-toggle="modal" asp-action="AddEditRole"
                   data-target="#modal-action-application-role">
                    <i class="glyphicon glyphicon-plus"></i>
                    افزودن نقش

                </a>

            </div>

            <div></div>
            <table class="table table-bordered table-striped table-condensed">

                <thead>
                    <tr>
                        <th>نام نقش</th>
                        <th>توضیحات</th>
                        <th>تعداد کاربر</th>
                        <th>عملیات</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                          
                            <td>@item.Name</td>
                            <td>@item.Description</td>
                           <td>@item.NumberOfUsers</td>
                            <td>
                                <a class="btn btn-info" id="ShowEditUser" asp-action="AddEditRole" asp-route-Id="@item.Id" data-toggle="modal"
                                   data-target="#modal-action-application-role">



                                    <i class="glyphicon glyphicon-pencil"></i>
                                    ویرایش نقش
                                </a>

                                @if (item.NumberOfUsers == 0)
                                {
                                    <a class="btn btn-danger" id="ShowDeleterole" asp-action="DeleteRole" asp-route-Id="@item.Id" data-toggle="modal"
                                       data-target="#modal-action-application-role">
                                        <i class="glyphicon glyphicon-trash"></i>
                                        حذف نقش
                                    </a>
                                }



                            </td>
                        </tr>
                    }



                </tbody>



            </table>



        </div>

    </div>
    </div>
    @Html.Partial("_Modal", new BootstrapModel { ID = "modal-action-application-role", Size = ModalSize.Medium })

    @section Scripts{

        <script src="~/js/ModalJs/application-role-index.js"></script>
        <script src="~/js/AdminPanelScript.js"></script>


    }

