﻿@model library10.Models.Author
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, library10
@using library10.PublicModel

<form asp-controller="Author" asp-action="AddEditAuthor" id="addeditauthor" data-ajax="true" data-ajax-method="POST"
      data-ajax-update="#addeditauthor" data-ajax-mode="replace">

    @* Header *@
    @if (Model.AuthorId==0)

    {
        @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "افزودن نویسنده" })

    }

    else
    {
        @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "ویرایش نویسنده" })

    }

    @* body *@
    <div class="modal-body form-horizontal">
        <div class="row">
            <div class="form-group">
                <label asp-for="AuthorName" class="col-lg-3 col-sm-3 control-label"></label>
                <div class="col-lg-6">
                    <input asp-for="AuthorName" class="form-control" />
                    <span asp-validation-for="AuthorName" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="AuthorDiscription" class="col-lg-3 col-sm-3 control-label"></label>
                <div class="col-lg-6">
                    <input asp-for="AuthorDiscription" class="form-control" />
                    <span asp-validation-for="AuthorDiscription" class="text-danger"></span>

                </div>
            </div>
            
            <div class="form-group hidden">
                <label asp-for="AuthorId" class="col-lg-3 col-sm-3 control-label"></label>
                <div class="col-lg-6">
                    <input asp-for="AuthorId" class="form-control" />
                </div>
            </div>
            <input type="hidden" name="redirecturl" value="@Url.Action("Index","Author")"/>


        </div>


    </div>

    @* Footer *@
    @if (Model.AuthorId == 0)
    {
        @await Html.PartialAsync("_ModalFooter", new ModalFooter { SubmitButtonText = "افزودن نویسنده" })

    }
    else
    {
        @await Html.PartialAsync("_ModalFooter", new ModalFooter { SubmitButtonText = "ویرایش نویسنده" })

    }

</form>