@model ReflectionIT.Mvc.Paging.PagingList<library10.Models.Author>
@using ReflectionIT.Mvc.Paging
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, library10
@using library10.PublicModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.Partial("_AdminPanel")
</div>
<div class="col-md-9">
    <div class="topbuffer"></div>
    <div class="panel panel-primary">

        <div class="panel-heading">

            <div class="col-md-8" style="font-size: 17px;">لیست نویسندگان</div>
            <div>
                <form asp-controller="Author" asp-action="SearchAuthor">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button class="btn btn-success pull-right">جستجو!</button>
                        </div>
                        <div>
                            <input type="text" id="authorSearch" name="authorSearch" class="form-control" placeholder="جستجو در نویسندگان.." />
                        </div>
                    </div>
                </form>
            </div>
        </div>        
        
        <div class="panel-body">
            <div class="btn btn-group marginbootn ">

                <a class="btn btn-primary" id="ShowAddAuther" data-toggle="modal" asp-action="AddEditAuthor"
                   data-target="#modal-action-author">
                    <i class="glyphicon glyphicon-plus"></i>
                    افزودن نویسنده جدید

                </a>

            </div>

            <div></div>
            <table class="table table-bordered table-striped table-condensed">

                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.AuthorName) </th>
                        <th>@Html.DisplayNameFor(model => model.AuthorDiscription) </th>
                        <th>عملیات</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.AuthorName</td>
                            <td>@item.AuthorDiscription</td>
                            <td>

                                <a class="btn btn-info" id="ShowEditUser" asp-action="AddEditAuthor" asp-route-Id="@item.AuthorId" data-toggle="modal"
                                   data-target="#modal-action-author">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                    ویرایش نویسنده
                                </a>


                                @if (item.Books.Count() == 0)
                                {
                                    <a class="btn btn-danger" id="ShowDeleteauthor" asp-action="DeleteAuthor" asp-route-Id="@item.AuthorId" data-toggle="modal"
                                       data-target="#modal-action-author">
                                        <i class="glyphicon glyphicon-trash"></i>
                                        حذف نویسنده
                                    </a>
                                }

                            </td>
                        </tr>
                    }

                </tbody>

            </table>
            <nav class="text-center">
                @await this.Component.InvokeAsync("Pager",new{PagingList=this.Model})
            </nav>

        </div>

    </div>

</div>


@Html.Partial("_Modal", new BootstrapModel { ID = "modal-action-author", Size = ModalSize.Medium })

@section Scripts{

    <script src="~/js/ModalJs/Author-index.js"></script>
    <script src="~/js/AdminPanelScript.js"></script>
}

