@model library10.Models.ViewModels.ChangeUserPassViewMole
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, library10
@using library10.PublicModel

@{
    ViewData["Title"] = "مدیریت درخواست های رسیده";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.Partial("_UserPanel")
</div>
<div class="col-md-9">
    <div class="topbuffer"></div>
    <div class="panel panel-primary">

        <div class="panel-heading panel-head">مدیریت درخواست ها </div>

        <div class="panel-body form-horizontal">
            <form asp-controller="UserProfile" asp-action="ChangeUserPass" method="post">
                @if (ViewBag.changepass != null)
                {
                    <span style="color: green; font-size: 18px;">@ViewBag.changepass</span>

                }

                <div class="form-group">
                    <label asp-for="OldPassword" class="col-lg-3 col-sm-3 control-label"></label>
                    <div class="col-lg-6">
                        <input asp-for="OldPassword" class="form-control" />
                        <span class="text-danger">@Html.ValidationMessage("OldPassword")</span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="NewPassword" class="col-lg-3 col-sm-3 control-label"></label>
                    <div class="col-lg-6">
                        <input asp-for="NewPassword" class="form-control" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="ConfirmNewPassword" class="col-lg-3 col-sm-3 control-label"></label>
                    <div class="col-lg-6">
                        <input asp-for="ConfirmNewPassword" class="form-control" />
                        <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-6">
                        <input asp-for="Id" class="hidden" />
                    </div>
                </div>

                <div class="form-group" style="text-align: center">
                    <button type="submit" class="btn btn-success">تغییر رمزعبور</button>
                </div>
            </form>
        </div>

    </div>

</div>

@section Scripts{
    <script src="~/js/AdminPanelScript.js"></script>
}




