﻿@model IEnumerable<library10.Models.ViewModels.ManageRequestViewModel>
@using library10.PublicModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, library10



@if (ViewBag.PartialType == 1)
{
    <form asp-controller="ManageRequest" asp-action="RejectRequest">

        @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "رد درخواست" })
        @* چون مدل به صورت ای ای نیومرای بل هستش ویک لیست است از حلقه فور ایچ استفاده میکنیم *@
        @foreach (var item in Model)
        {
            <div class="modal-body form-horizontal">
                آیا از حذف درخواست کاربر با نام <span style="color: brown">@item.UserFullName</span> برای کتاب <span style="color: brown">@item.BookName</span> مطمئن هستید؟
            </div>
        }


        @await Html.PartialAsync("_ModalFooter", new ModalFooter { SubmitButtonText = "بله مطمئنم!" })

    </form>
}
else if (ViewBag.PartialType == 2)
{
    <form asp-controller="ManageRequest" asp-action="AcceptRequest">

        @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "پذیرش درخواست" })
        @* چون مدل به صورت ای ای نیومرای بل هستش ویک لیست است از حلقه فور ایچ استفاده میکنیم *@
        @foreach (var item in Model)
        {
            <div class="modal-body form-horizontal">
                آیا از پذیرفتن درخواست کاربر با نام <span style="color: brown">@item.UserFullName</span> برای کتاب <span style="color: brown">@item.BookName</span> مطمئن هستید؟
            </div>
        }


        @await Html.PartialAsync("_ModalFooter", new ModalFooter { SubmitButtonText = "بله مطمئنم!" })

    </form>
}
else if (ViewBag.PartialType == 3)
{
    <form asp-controller="ManageRequest" asp-action="BackBook">

        @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "بازگرداندن کتاب" })
        @* چون مدل به صورت ای ای نیومرای بل هستش ویک لیست است از حلقه فور ایچ استفاده میکنیم *@
        @foreach (var item in Model)
        {
            <div class="modal-body form-horizontal">
                آیا از بازگرداندن کتاب توسط کاربر با نام <span style="color: brown">@item.UserFullName</span> مربوط به کتاب <span style="color: brown">@item.BookName</span> مطمئن هستید؟
            </div>
        }


        @await Html.PartialAsync("_ModalFooter", new ModalFooter { SubmitButtonText = "بله مطمئنم!" })

    </form>
}


