@model ReflectionIT.Mvc.Paging.PagingList<library10.Models.ViewModels.ManageRequestViewModel>
@using ReflectionIT.Mvc.Paging
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, library10
@using library10.PublicModel

@{
    ViewData["Title"] = "مدیریت درخواست های رسیده";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/TimePicker/jquery.Bootstrap-PersianDateTimePicker.css" rel="stylesheet" />
<div>
    @Html.Partial("_AdminPanel")
</div>
<div class="col-md-9">
    <div class="topbuffer"></div>
    <div class="panel panel-primary">

        <div class="panel-heading" style="border:0px; margin:0 !important; padding-bottom:1px;">
            <div class="col-md-3" style="font-size:17px;">مدیریت درخواست ها</div>

            <form method="post" asp-controller="ManageRequest" asp-action="SearchInRequests" class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-2">
                        <input type="text" id="userSearch" name="userSearch" class="form-control" placeholder="جستجو در نام کاربر.." />
                    </div>
                    <div class="input-group col-md-2 pull-right">
                        <div class="input-group-addon" data-MdDateTimePicker="true" data-trigger="click" data-targetselector="#fromDate1" data-groupid="group1" data-fromdate="true" data-enabletimepicker="false" data-placement="left">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </div>
                        <input type="text" class="form-control" id="fromDate1" name="fromDate1" placeholder="از تاریخ" data-MdDateTimePicker="true" data-trigger="click" data-targetselector="#fromDate1" data-groupid="group1" data-fromdate="true" data-enabletimepicker="false" data-placement="right" />
                    </div>

                    <div class="input-group col-md-2 pull-right">
                        <div class="input-group-addon" data-MdDateTimePicker="true" data-trigger="click" data-targetselector="#todate1">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </div>
                        <input type="text" class="form-control" id="todate1" name="todate1" placeholder="تا تاریخ" data-MdDateTimePicker="true" data-placement="right" />
                    </div>

                    <div class="btn-group col-md-2 pull-left">
                        <button class="btn btn-default pull-right" type="submit">جستجو</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="panel-body">

            <table class="table table-bordered table-striped table-condensed">

                <thead>
                    <tr>
                        <th class="text-center" style="font-weight: 600">ردیف</th>
                        <th class="text-center">@Html.DisplayNameFor(model => model.UserFullName) </th>
                        <th class="text-center">@Html.DisplayNameFor(model => model.BookName) </th>
                        <th class="text-center">@Html.DisplayNameFor(model => model.BookStock) </th>
                        <th class="text-center">@Html.DisplayNameFor(model => model.FlagDescription) </th>
                        <th class="text-center">@Html.DisplayNameFor(model => model.Price) </th>
                        <th class="text-center">@Html.DisplayNameFor(model => model.RequestDate) </th>
                        <th class="text-center">@Html.DisplayNameFor(model => model.AnswerDate) </th>
                        <th class="text-center">@Html.DisplayNameFor(model => model.BackDate) </th>

                        <th class="text-center">عملیات</th>

                    </tr>
                </thead>
                <tbody>
                    @{
                        int counter = 1;

                        foreach (var item in Model)
                        {
                            <tr style="height: 50px">
                                <td class="text-center">@(counter++)</td>
                                <td class="text-center">@item.UserFullName</td>
                                <td class="text-center" style="color: rgb(128, 0, 64); background-color: rgb(128, 116, 10)">@item.BookName</td>
                                <td class="text-center" style="color: blue; background-color: rgb(203, 159, 204)">@item.BookStock</td>

                                @if (item.Flag == 1)
                                {
                                    <td class="text-center" style="color: red; background-color: pink">@item.FlagDescription</td>

                                }
                                @if (item.Flag == 2)
                                {
                                    <td class="text-center" style="color: brown; background-color: lightgoldenrodyellow">@item.FlagDescription</td>

                                }
                                @if (item.Flag == 3)
                                {
                                    <td class="text-center" style="color: thistle; background-color: lightcoral">@item.FlagDescription</td>

                                }
                                @if (item.Flag == 4)
                                {
                                    <td class="text-center" style="color: sienna; background-color: aqua">@item.FlagDescription</td>

                                }

                                <td class="text-center" style="color: white; background-color: rgb(6, 134, 196)">@item.Price</td>

                                <td class="text-center" style="color: blue; background-color: yellowgreen">@item.RequestDate</td>
                                <td class="text-center" style="color: brown; background-color: lightgoldenrodyellow">@item.AnswerDate</td>
                                <td class="text-center" style="color: yellow; background-color: rgb(6, 134, 196)">@item.BackDate</td>

                                <td class="text-center" style="color: yellow; background-color: rgb(35, 64, 92)">


                                    @if (item.Flag == 1)
                                    {
                                        <a asp-action="RejectRequest" asp-controller="ManageRequest" asp-route-id="@item.Id" class="btn btn-danger" data-toggle="modal"
                                           data-target="#modal-action-request" style="width: 100px">
                                            <i class="glyphicon glyphicon-trash"></i>
                                            رد درخواست
                                        </a>
                                        <a asp-action="AcceptRequest" asp-controller="ManageRequest" asp-route-id="@item.Id" class="btn btn-info" data-toggle="modal"
                                           data-target="#modal-action-request" style="width: 100px">
                                            <i class="glyphicon glyphicon-pencil"></i>

                                            پذیرفتن
                                        </a>
                                    }
                                    else if (item.Flag == 2)
                                    {
                                        <a asp-action="BackBook" asp-controller="ManageRequest" asp-route-id="@item.Id" class="btn btn-success" id="ShowEditUser" data-toggle="modal"
                                           data-target="#modal-action-request" style="width: 100px">
                                            <i class="glyphicon glyphicon-pencil"></i>

                                            بازگرداندن
                                        </a>
                                    }

                                </td>
                            </tr>
                        }
                    }

                </tbody>

            </table>
            <nav class="text-center">@await this.Component.InvokeAsync("Pager",new{PagingList=this.Model })</nav>
        </div>

    </div>

</div>


@Html.Partial("_Modal", new BootstrapModel { ID = "modal-action-request", Size = ModalSize.Medium })

@section Scripts{
    <script src="~/js/ModalJs/Request-index.js"></script>
    <script src="~/js/AdminPanelScript.js"></script>

    <script src="~/TimePicker/calendar.js"></script>
    <script src="~/TimePicker/jquery.Bootstrap-PersianDateTimePicker.js"></script>
}


