﻿* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-image: url('../images/background2.jpeg');
}
#main-div {
    background-color: white;
    background: linear-gradient(whitesmoke, rgb(220, 220, 200));
    border: 1px solid rgb(200, 200, 220);
    border-radius: 3px;
    box-shadow: 2px 2px 9px 1px black;
    padding: 5px !important;
}
    #main-div a :hover {
        color: green;
    }
    a {
        color: black;
        text-align: center;
    }

    a:hover {
        text-decoration: none;
        color: green;
    }

#topline {
    border: 1px solid blue;
    width: 100%;
}

#mybrand {
    width: 27px;
    height: 27px;
}

.container {
    margin: 0 auto !important;
    padding: 0 !important;
}

#Lastnews {
    margin-bottom: 15px;
}
#Lastnews a:hover {
    color: green
}
.div-style {
    background-color: white;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 2px;
    font-size: 12px;
}

.header-div {
    color: rgb(0, 0, 200);
    font-size: 14px;
    margin-right: 10px;
    margin-top: 5px;
}

.hr {
    border: 1px solid green;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
#img-div {
    padding-top: 10px;
    padding-left: 8px;
    padding-right: 8px;
}
#img-div img {
    border-radius: 45px;
    border: 1px solid rgb(220, 220, 20);
    width: 45px;
    height: 45px;
    margin-right: 10px;
   
}
#Names {
    margin-bottom: 15px;
}
.matneakhbar {
    font-size: 14px;
    margin-right: 5px;
}

.hrkhabar {
    border: 1px solid rgb(220, 220, 220);
    margin: 10px 10px 15px 15px;
}

#owl-class {
    direction: ltr;
    padding-left: 30px;
}

#Lastbooks {
    background-color: white;
    margin-bottom: 15px;
    font-size: 14px;
}

.minihr {
    border: 1px solid rgb(200, 200, 200);
    height: 1px;
    width: 90%;
    margin-right: 8px;
    margin-top: 5px;
}

#Lastbooks img {
    width: 180px;
    height: 200px;
}

#Lastbooks a {
    color: black;
    text-align: center
}

    #Lastbooks a:hover {
        color: green;
    }

#siencebook {
    background-color: white;
    margin-top: 15px;
    background-color: white;
    border-radius: 2px;
    font-size: 14px;
}

    #siencebook img {
        width: 180px;
        height: 200px;
    }
#Moreviewerbooks {
    font-size: 14px;
}
#Moreviewerbooks img {
    width: 180px;
    height: 200px;
}

.img-posi {
    margin-bottom: 12px;
}

.marginbootn {
    margin-bottom: 10px;
}

/*------------------------------Admin panel style--------------------------------*/
.menu {
    width: 300px;
    background: whitesmoke;
    font-size: 16px;
    box-shadow: gray 2px 1px;
    padding-top: 2px;
    border-radius: 4px
}
.dashboard {
    font-size: 20px;
    color: #fff;
    background: #337ab7;
    padding-right: 20px;
    border-radius: 2px;
}
.menu li {
    list-style: none;
}

.main-li > a {
    display: block;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 12px;
    background: white;
    color: #4d3d3d;
    border: 1px solid #ddd;
    text-align: right;
    font-size: 18px;
}
    .main-li > a:hover {
        transition: all 300ms ease;
        color: green;

    }
    .menu ul > li > ul > li > a {
        display: block;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 25px;
        background: #474869;
        color: #fff;
        text-align: right;
    }
.menu ul > li > ul > li > a:hover {

    transition: all 300ms ease;
    background: #b63b4d;


}
.menu ul ul {
    display: none;
}
.menu ul > li.main-li > a::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 2px;
    background: black;
    right: 30px;
    left: 0;
    margin-top: 10px;
    margin-right: 210px;
    transition:all .1s ease-out;
}


    .menu ul > li.main-li.openul > a::before {
        transform: rotate(45deg);
    }



.menu ul > li.main-li > a::after {
    position: absolute;
    content: "";
    width: 2px;
    height: 10px;
    background: black;
    right: 34px;
    left: 0;
    margin-top: 6px;
    margin-right: 210px;
    transition: all .1s ease-out;
}

.menu ul > li.main-li.openul > a::after {
    transform: rotate(45deg);

}


    
/*-------------------Admin panel style--------------------------*/



#newsdetails {
    border: 1px solid black;
    background-color: whitesmoke;
    box-shadow: 2px 2px 9px 3px black;
}
#newsheader {
    background-color: cornflowerblue;
    margin: 0;
    border-radius: 0;

}
#bookdetails {
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 1px 1px 2px 1px black;
    background: white;
    padding: 15px;
}

#rightpanel-sabad {
    margin-bottom: 10px;
}