﻿@model library10.Models.ViewModels.UserViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, library10
@using library10.PublicModel

<form asp-action="AddUser" asp-controller="User" id="adduser" data-ajax="true" data-ajax-method="POST"
      data-ajax-update="#adduser" data-ajax-mode="replace">

    @* Header *@



    @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "افزودن کاربر" })




    @* body *@
    <div class="modal-body form-horizontal">
        <div class="row">
            <div class="col-lg-6">
                @* name  *@
                <div class="form-group">
                    <label asp-for="FirstName" class="col-lg-5 col-sm-5 control-label"></label>
                    <div class="col-lg-6">
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                </div>
                @* name khanevadgi  *@
                <div class="form-group">
                    <label asp-for="LastName" class="col-lg-5 col-sm-5 control-label"></label>
                    <div class="col-lg-6">
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>

                    </div>
                </div>

                <!--email-->
                <div class="form-group">
                    <label asp-for="Email" class="col-lg-5 col-sm-5 control-label"></label>
                    <div class="col-lg-6">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>

                    </div>
                </div>

                <!--naqsh-->
                <div class="form-group">
                    <label asp-for="ApplicationRoleId" class="col-lg-5 col-sm-5 control-label"></label>
                    <div class="col-lg-6">
                        <select asp-for="ApplicationRoleId" asp-items="@Model.ApplicationRoles" class="form-control">
                        </select>
                    </div>
                </div>
                <!--جنسیت-->
                <div class="form-group">
                    <label asp-for="Gender" class="col-lg-5 col-sm-5 control-label"></label>
                    <div class="col-lg-6">
                        <select asp-for="Gender" class="form-control">
                            <option value="1">آقا</option>
                            <option value="0">خانم</option>

                        </select>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <!--name karbari-->
                <div class="form-group">
                    <label asp-for="UserName" class="col-lg-5 col-sm-5 control-label"></label>
                    <div class="col-lg-6">
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>

                    </div>
                </div>
                <!--phone number-->
                <div class="form-group">
                    <label asp-for="PhoneNumber" class="col-lg-5 col-sm-5 control-label"></label>
                    <div class="col-lg-6">
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>

                    </div>
                </div>
                <!--ramze obor-->
                <div class="form-group">
                    <label asp-for="Password" class="col-lg-5 col-sm-5 control-label"></label>
                    <div class="col-lg-6">
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>

                    </div>
                </div>
                <!--tekrare ramze obor-->
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="col-lg-5 col-sm-5 control-label"></label>
                    <div class="col-lg-6">
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="redirecturl" value="@Url.Action("Index","User")" />

    @* Footer *@

    @await Html.PartialAsync("_ModalFooter", new ModalFooter { SubmitButtonText = "افزودن کاربر" })
</form>