﻿@model string
@using library10.PublicModel


@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, library10

<form asp-controller="User" asp-action="DeleteUser">

    @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "حذف کاربر" })

    <div class="modal-body form-horizontal">
        آیا از حذف  @Model مطمئن هستید؟
    </div>

    @await Html.PartialAsync("_ModalFooter", new ModalFooter { SubmitButtonText = "حذف کاربر" })



</form>
