﻿@model library10.Models.ViewModels.EditUserViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, library10
@using library10.PublicModel
@using Microsoft.CodeAnalysis.CSharp.Syntax

<form asp-action="EditUser" asp-controller="User" id="edituser" data-ajax="true" data-ajax-method="POST"
      data-ajax-update="#edituser" data-ajax-mode="replace">

    @* Header *@

    @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "افزودن کاربر" })





    @* body *@
    <div class="modal-body form-horizontal">
        <div class="row">
            <div class="form-group">
                <label asp-for="FirstName" class="col-lg-3 col-sm-3 control-label"></label>
                <div class="col-lg-6">
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="col-lg-3 col-sm-3 control-label"></label>
                <div class="col-lg-6">
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>

                </div>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="col-lg-3 col-sm-3 control-label"></label>
                <div class="col-lg-6">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>

                </div>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationRoleId" class="col-lg-3 col-sm-3 control-label"></label>
                <div class="col-lg-6">
                    <select asp-for="ApplicationRoleId" asp-items="@Model.ApplicationRoles" class="form-control"></select>
                </div>
            </div>
            
            <div class="form-group">
                <label asp-for="Gender" class="col-lg-3 col-sm-3 control-label"></label>
                <div class="col-lg-6">
                    <select asp-for="Gender" class="form-control">
                       @if (Model.Gender == 1)
                       {
                           <option value="1" selected="selected">آقا</option>
                           <option value="0">خانم</option>
                       }
                        else{
                            <option value="1">آقا</option>
                            <option value="0" selected="selected">خانم</option>

                        }

                    </select>
                </div>
            </div>

        </div>

    </div>
    <input type="hidden" name="redirecturl" value="@Url.Action("Index","User")" />

    @* Footer *@


    @await Html.PartialAsync("_ModalFooter", new ModalFooter { SubmitButtonText = "ویرایش کاربر" })




</form>