@model ReflectionIT.Mvc.Paging.PagingList<library10.Models.ViewModels.UserListViewModel>
@using ReflectionIT.Mvc.Paging
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, library10
@using library10.PublicModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @Html.Partial("_AdminPanel")
</div>
<div class="col-md-9">
    <div class="topbuffer"></div>
    <div class="panel panel-primary">

        <div class="panel-heading">

            <div class="col-md-8" style="font-size: 17px;">لیست کاربران</div>
            <div>
                <form asp-controller="User" asp-action="SearchUser">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button class="btn btn-success pull-right">جستجو!</button>
                        </div>
                        <div>
                            <input type="text" id="userSearch" name="userSearch" class="form-control" placeholder="جستجو در کاربران.." />
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="panel-body">
            <div class="btn btn-group marginbootn">


                <a class="btn btn-primary" id="ShowAddUser" data-toggle="modal" asp-action="AddUser"
                   data-target="#modal-action-User">
                    <i class="glyphicon glyphicon-plus"></i>
                    افزودن کاربر جدید

                </a>

            </div>

            <div></div>
            <nav>
                @await this.Component.InvokeAsync("Pager",new {PagingList= this.Model })
            </nav>
            <table class="table table-bordered table-striped table-condensed">

                <thead>
                    <tr>
                        <th> نام و نام خانوادگی </th>
                        <th>ایمیل</th>
                        <th>عملیات</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.FullName</td>
                            <td>@item.Email</td>
                            <td>
                                <a class="btn btn-info" id="ShowEditUser" asp-action="EditUser" data-toggle="modal"
                                   data-target="#modal-action-User" asp-route-Id="@item.Id">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                    ویرایش کاربر
                                </a>
                                <a class="btn btn-danger" id="ShowDeleteUser" asp-action="DeleteUser" data-toggle="modal"
                                   data-target="#modal-action-User" asp-route-Id="@item.Id">
                                    <i class="glyphicon glyphicon-trash"></i>
                                    حذف کاربر
                                </a>
                            </td>
                        </tr>
                    }

                </tbody>

            </table>

        </div>

    </div>
</div>


@Html.Partial("_Modal", new BootstrapModel { ID = "modal-action-User", Size = ModalSize.Medium })

@section Scripts{
    <script src="~/js/ModalJs/User-index.js"></script>
    <script src="~/js/AdminPanelScript.js"></script>

}
