﻿<div class="menu col-md-3">
    <ul>
        <li class="dashboard"> داشبورد</li>
           
        <li class="main-li first"><a href="#">مدیریت سیستم</a>
        
            <ul>
                <li><a asp-controller="User" asp-action="Index">مدیریت کاربران</a></li>
                <li><a asp-controller="ApplicationRole" asp-action="Index">مدیریت نقش ها</a></li>
                <li><a asp-controller="Author" asp-action="Index">مدیریت نویسندگان</a></li>
                <li><a asp-controller="BookGroup" asp-action="Index">مدیریت کروه بندی ها</a></li>
                <li><a asp-controller="Book" asp-action="Index">مدیریت کتاب ها</a></li>

            </ul>
        
        </li>
        
        <li class="main-li">
            <a href="#">مدیریت اخبار و اطلاعیه ها</a>

            <ul>
                <li><a asp-controller="News" asp-action="Index">مدیریت اخبار و اطلاعیه ها</a></li>

            </ul>

        </li>
        
        <li class="main-li">
            <a href="#">مدیریت درخواست ها</a>
            <ul>
                <li><a asp-controller="ManageRequest" asp-action="Index">مدیریت درخواست های رسیده</a></li>
                <li><a asp-controller="ManageTransaction" asp-action="Index">لیست تراکنش های مالی</a></li>

            </ul>
        </li>
        
    </ul>
    
</div>