﻿@model IEnumerable<library10.Models.Book>


<div id="Lastbooks" class="div-style">
    <div class="header-div">آخرین کتاب ها</div>
    <div class="hr"></div>
    <div class="owl-carousel owl-theme" id="owl-class">


        @foreach (var item in Model)
        {
            <div class="img-thumbnail">
                <a asp-area="Admin" asp-controller="Book" asp-action="BookDetails" asp-route-id="@item.BookId">
                    <img src="@ViewBag.imagepath@item.BookImage" />
                    <div class="minihr"></div>
                    <span class="center-block"> @item.BookName </span>
                </a>
            </div>

        }

    </div>



</div>
