﻿@model IEnumerable<library10.Models.News>  
<div id="img-div">
    <div class="header-div">
        آخرین اخبار و اطلاعیه ها
    </div>
    <div class="hr"></div>

        @foreach (var item in Model)
        {
            <a asp-area="Admin" asp-controller="News" asp-action="NewsDetails" asp-route-id="@item.NewsId">

                <img src="@ViewBag.imagepath@item.NewsImage" />
                <span class="matneakhbar">@item.NewsTitle</span>

            </a>
            <div class="hrkhabar"></div>
        }



</div>