﻿@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="~/lib/bootstrap/dist/css/bootstrap-rtl.css" rel="stylesheet" />
        <link href="~/css/owl.carousel.min.css" rel="stylesheet" />
        <link href="~/css/owl.theme.default.min.css" rel="stylesheet" />
        <link href="~/css/Mystyle.css" rel="stylesheet" />

    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <!--start body-->
    <div id="maincontainer" class="">
        <!--start maincontainer-->
        <div id="header" class="row site-header-txt">
            <!--start header-->
            <div id="topline"></div>
        </div><!--end header-->
        <div id="mainmenu">
            <!--start mainmenu-->
            <nav class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">

                            <img src="~/images/storeicon1.png" id="mybrand" />
                        </a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>
                                <a asp-area="" asp-controller="Home" asp-action="Index">
                                    خانه
                                    <span class="glyphicon glyphicon-home"></span>
                                </a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Home" asp-action="About">
                                    درباره ما
                                    <span class="glyphicon glyphicon-info-sign"></span>

                                </a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Home" asp-action="Contact">
                                    ارتباط باما
                                    <span class="glyphicon glyphicon-phone-alt"></span>

                                </a>
                            </li>

                            @*<li>
                                    <a asp-area="" asp-controller="Account" asp-action="Login">
                                        ورود
                                        <span class="glyphicon glyphicon-arrow-left"></span>

                                    </a>
                                </li>*@
                        </ul>


                        @await Html.PartialAsync("_UerHeader")
                        
                        @RenderSection("searchSection", false)
                        

                    </div>


                </div>
            </nav>
        </div><!--end mainmenu-->
        <div>
            @RenderBody()
            <hr />
            <footer></footer>
        </div>
    </div><!--end maincontainer-->
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>

        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/owl.carousel.min.js"></script>
        <script src="~/js/Scripts/jquery.unobtrusive-ajax.min.js"></script>


    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body><!--end body-->
</html>
