﻿@model library10.PublicModel.ModalHeader


<div class="modal-header">
    
    <button type="button" class="close" data-dismiss="modal" aria-hidden="True">&times;</button>
    <h4 class="modal-title">@Model.Heading</h4>
</div>