﻿@model IEnumerable<library10.Models.Book>

<div id="Moreviewerbooks" class="div-style">
  
    <div class="header-div">پربیننده ترین کتاب ها</div>
    <div class="hr"></div>
    <div class="row text-center">
        @foreach (var item in Model)
        {
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="img-thumbnail img-posi">
                    <a asp-area="Admin" asp-controller="Book" asp-action="BookDetails" asp-route-id="@item.BookId" target="_blank">
                        <img src="@ViewBag.imagepath@item.BookImage" />
                        <div class="minihr"></div>
                        <span class="center-block">@item.BookName</span>
                    </a>
                </div>
            </div>
        }

    </div>
    
</div>
