﻿@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpCookie

@{
    if (HttpCookie.HttpContext.Request.Cookies["_brbook"] != null)
    {
        string cookiecontent = HttpCookie.HttpContext.Request.Cookies["_brbook"].ToString();

        string[] requestbookcount = cookiecontent.Split(',');

        requestbookcount = requestbookcount.Where(r => r != "").ToArray();

        
        <div id="sabadeamanat" class="div-style">
            <span class="header-div">سبد امانات</span>
            <div class="hr"></div>
    
            <div style="margin-right: 10px; margin-bottom: 15px; margin-top: 15px; font-size: 16px; " >
                <span>تعداد کتاب های سفارش داده شده :<span id="requestcount" style="color: blue">@requestbookcount.Count()</span></span>
            </div>
    
            <div style="margin-right: 10px; margin-bottom: 15px; margin-top: 15px; font-size: 16px; ">
                <a asp-area="Admin" asp-controller="Book" asp-action="RequestedBook">مشاهده لیست کامل کتاب های درخواستی</a>
            </div>
    

        </div>
    }
    else
    {
        <div id="sabadeamanat" class="div-style">
            <span class="header-div">سبد امانات</span>
            <div class="hr"></div>
    
            <div style="margin-right: 10px; margin-bottom: 15px; margin-top: 15px; font-size: 16px; " >
                <span>تعداد کتاب های سفارش داده شده :<span id="requestcount" style="color: blue">0</span></span>
            </div>
    
            <div style="margin-right: 10px; margin-bottom: 15px; margin-top: 15px; font-size: 16px; ">
                <a asp-area="Admin" asp-controller="Book" asp-action="RequestedBook">مشاهده لیست کامل کتاب های درخواستی</a>
            </div>
    

        </div>
    }
}


