﻿@model IEnumerable<library10.Models.ApplicationUser>


<div id="sabtename">
    <div id="img-div">
        <span class="header-div">
            افراد ثبت نام شده
        </span>
        <div class="hr"></div>
        <div>
            @foreach (var item in Model)
            {
                if (item.Gender == 1)
                {
                    <img src="~/images/manicon.png"/>
                }
                else
                {
                    <img src="~/images/woman-icon.png"/>

                }

                <span class="matneakhbar">@item.FirstName @item.LastName</span>
                <div class="hrkhabar"></div>
            }

        </div>
    </div>
</div>