﻿@using Microsoft.AspNetCore.Identity
@using library10.Models
@using library10.PublicModel




@inject SignInManager<ApplicationUser> signInManager

@inject UserManager<ApplicationUser> userManager



@if (signInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="LogOut" method="post" class="navbar-right" style="margin-left: 5px;margin-right:5px">
        <ul class="nav navbar-nav navbar-right">
            @if (User.IsInRole("Admin"))
            {
                <li><a asp-area="Admin" asp-controller="User" asp-action="Index">WellCome @userManager.GetUserName(User)</a></li>

            }
            @if (User.IsInRole("User"))
            {
                <li><a asp-area="User" asp-controller="UserProfile" asp-action="Index">WellCome @userManager.GetUserName(User)</a></li>

            }
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link" style="text-decoration: none">خروج</button>
            </li>
        </ul>
        

    </form>

}

else
{
    <ul class="nav navbar-right">
        <li>
            <a asp-area="" asp-controller="Account" asp-action="Login">
                ورود
                <span class="glyphicon glyphicon-arrow-left"></span>

            </a>
        </li>
        
        

    </ul>
}