﻿<div class="menu col-md-3">
    <ul>
        <li style="margin-bottom: 7px;margin-top: 7px">
            <span style="color: blue">نام و نام خانوادگی کاربر : <span style="color: brown">@ViewBag.FullName</span></span>
        </li>
        <li style="margin-bottom: 7px;margin-top: 7px">
            <span style="color: blue">موجودی حساب :</span>
            <span style="color: brown">@ViewBag.KifePool</span>
            <span style="color: blue">تومان</span>
        </li>
        <li class="dashboard"> داشبورد</li>

        <li class="main-li first">
            <a href="#">مدیریت درخواست ها</a>

            <ul>
                <li><a asp-controller="UserProfile" asp-action="Index">مشاهده ی وضعیت درخواست ها</a></li>

            </ul>

        </li>

        <li class="main-li">
            <a href="#">امکانات</a>

            <ul>
                <li><a asp-controller="UserProfile" asp-action="ChangeUserPass">تغییر رمز عبور</a></li>

            </ul>
            <ul>
                <li><a asp-controller="Payment" asp-action="Payment">شارژ حساب</a></li>
                <li><a asp-controller="Transactions" asp-action="SearchInTransactions"> لیست تراکنش های مالی</a></li>

            </ul>
        </li>


    </ul>

</div>