@model library10.Models.News
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, library10
@using library10.PublicModel


<form method="post" enctype="multipart/form-data">

    @* Header *@
    @if (Model.NewsId == 0)

    {
        @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "افزودن اطلاعیه" })

}

    else
    {
        @await  Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "ویرایش اطلاعیه" })

}
    @Html.AntiForgeryToken();

    @* body *@
    <div class="modal-body form-horizontal">
        <div class="row">
            <div class="form-group">
                <label asp-for="NewsTitle" class="col-lg-2 col-sm-2 control-label"></label>
                <div class="col-lg-6">
                    <input asp-for="NewsTitle" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label asp-for="NewsContent" class="col-lg-2 col-sm-2 control-label"></label>
                <div class="col-lg-9">
                    <textarea asp-for="NewsContent" class="form-control" id="NewsContent" name="NewsContent"></textarea>

                </div>

                <script type="text/javascript">
                    CKEDITOR.replace('NewsContent');

                </script>
            </div>


            <div class="form-group">
                <label asp-for="NewsImage" class="col-lg-2 col-sm-2 control-label"></label>
                <div class="col-lg-6">
                    <input type="file" id="files" name="files" multiple />
                </div>
                @if (Model.NewsId != 0)
                {
                    <input type="hidden" name="ImageName" value="@Model.NewsImage" />
                }
            </div>


            <div class="form-group">
                <label asp-for="NewsDate" class="col-lg-2 col-sm-2 control-label"></label>
                <div class="col-lg-6">
                    <input asp-for="NewsDate" value="@ViewBag.sdate" />
                </div>
            </div>
            

            <div class="form-group hidden">
                <label asp-for="NewsId" class="col-lg-2 col-sm-2 control-label"></label>
                <div class="col-lg-6">
                    <input asp-for="NewsId" class="form-control" />
                </div>
            </div>


            
            @*<input type="hidden" name="redirecturl" value="@Url.Action("Index","Book")" />*@
            @*بخاطر استفاده از جی کوئری برای ارسال فرم دیگر نیازی به این دستور نیست  *@
        </div>


    </div>

    @* Footer *@
    @if (Model.NewsId == 0)
    {

        @*@await Html.PartialAsync("_ModalFooter", new ModalFooter { SubmitButtonText = "افزودن کتاب" })*@
        <div class="modal-footer">
            <button class="btn btn-default" type="button" data-dismiss="modal">برگشت</button>

            <input type="button" id="submitdata" class="btn btn-success" value="افزودن اطلاعیه" />

        </div>
    }
    else
    {
        <div class="modal-footer">
            <button class="btn btn-default" type="button" data-dismiss="modal">برگشت</button>

            <input type="button" id="submitdata" class="btn btn-info" value="ویرایش اطلاعیه" />
        </div>
    }

</form>

