﻿@model string
@using library10.PublicModel


@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, library10

<form asp-controller="News" asp-action="DeleteNews">

    @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "حذف اطلاعیه" })

    <div class="modal-body form-horizontal">
        آیا از حذف اطلاعیه @Model مطمئن هستید؟

    </div>

    @await Html.PartialAsync("_ModalFooter", new ModalFooter { SubmitButtonText = "حذف اطلاعیه" })

</form>