@model ReflectionIT.Mvc.Paging.PagingList<library10.Models.News>
@using ReflectionIT.Mvc.Paging
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, library10
@using library10.PublicModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/TimePicker/jquery.Bootstrap-PersianDateTimePicker.css" rel="stylesheet" />
<div>
    @Html.Partial("_AdminPanel")
</div>
<div class="col-md-9">
    <div class="topbuffer"></div>
    <div class="panel panel-primary">

        
        @* https://www.codeproject.com/Articles/858123/Bootstrap-Persian-DateTimePicker *@
        <div class="panel-heading" style="border:0px; margin:0 !important; padding-bottom:1px;">
            <div class="col-md-3" style="font-size:17px;">لیست اخبار و اطلاعیه ها</div>
            
            <form method="post" asp-controller="News" asp-action="SearchInNews" class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-2">
                        <input type="text" id="newsSearch" name="newsSearch" class="form-control" placeholder="جستجو دراخبار.." />
                    </div>
                    <div class="input-group col-md-2 pull-right">
                        <div class="input-group-addon" data-MdDateTimePicker="true" data-trigger="click" data-targetselector="#fromDate1" data-groupid="group1" data-fromdate="true" data-enabletimepicker="false" data-placement="left">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </div>
                        <input type="text" class="form-control" id="fromDate1" name="fromDate1" placeholder="از تاریخ" data-MdDateTimePicker="true" data-trigger="click" data-targetselector="#fromDate1" data-groupid="group1" data-fromdate="true" data-enabletimepicker="false" data-placement="right"/>
                    </div>

                    <div class="input-group col-md-2 pull-right">
                        <div class="input-group-addon" data-MdDateTimePicker="true" data-trigger="click" data-targetselector="#todate1">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </div>
                        <input type="text" class="form-control" id="todate1" name="todate1" placeholder="تا تاریخ" data-MdDateTimePicker="true" data-placement="right"/>
                    </div>


                    <div class="btn-group col-md-2 pull-left">
                        <button class="btn btn-default pull-right" type="submit">جستجو</button>
                    </div>
                </div>
            </form>
        </div>
        
        <div class="panel-body">
            <div class="btn btn-group marginbootn ">



                <a class="btn btn-primary" id="ShoweNews" data-toggle="modal" asp-action="AddEditNews"
                   data-target="#modal-action-news">
                    <i class="glyphicon glyphicon-plus"></i>
                    افزودن اطلاعیه جدید

                </a>

            </div>

            <div></div>
            <table class="table table-bordered table-striped table-condensed">

                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.NewsTitle) </th>
                        <th>@Html.DisplayNameFor(model => model.NewsDate) </th>
                        <th>@Html.DisplayNameFor(model => model.NewsImage) </th>

                        <th>عملیات</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.NewsTitle</td>
                            <td>@item.NewsDate</td>
                            <td class="text-center">

                                <img src="@ViewBag.Rootpath@item.NewsImage" style="width: 80px; height: 80px;" @*class="thumbnail" *@>
                            </td>

                            <td>

                                <a class="btn btn-info" id="ShowNews" asp-action="AddEditNews" asp-route-Id="@item.NewsId" data-toggle="modal"
                                   data-target="#modal-action-news">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                    ویرایش اطلاعیه
                                </a>


                                <a class="btn btn-danger" id="ShowDeleteNews" asp-action="DeleteNews" asp-route-Id="@item.NewsId" data-toggle="modal"
                                   data-target="#modal-action-news">
                                    <i class="glyphicon glyphicon-trash"></i>
                                    حذف اطلاعیه
                                </a>

                            </td>
                        </tr>
                    }

                </tbody>

            </table>
            <nav class="text-center">@await this.Component.InvokeAsync("Pager",new {PagingList=this.Model })</nav>
        </div>

    </div>

</div>


@Html.Partial("_Modal", new BootstrapModel { ID = "modal-action-news", Size = ModalSize.Large })

@section Scripts{
    <script src="~/js/ModalJs/News-index.js"></script>
    <script src="~/js/AdminPanelScript.js"></script>
    <script src="~/js/ckeditor/ckeditor.js"></script>
    <script src="~/TimePicker/calendar.js"></script>
    <script src="~/TimePicker/jquery.Bootstrap-PersianDateTimePicker.js"></script>
    <script>
        $(document).on('click',
            '#submitdata',
            function(evt) {

                evt.preventDefault();


                var data = new FormData();

                //دریافت مقادیر فایل آپلودی
                var fileupload = $("#files").get(0);
                var files = fileupload.files;

                for (var i = 0; i < files.length; i++) {
                    data.append('files', files[i]);
                }

                //دریافت مقادیر موجود
                $('input').each(function(x,y) {

                    data.append($(y).attr('name'), $(y).val());

                });


                //دریافت مقادیر ادیتور

                var editorval = CKEDITOR.instances['NewsContent'].getData();

                data.append('NewsContent', editorval);

                ////ارسال به سمت سرور با ایجکس

                $.ajax({
                    type: "post",
                    url: '@Url.Action("AddEditNews","News",new{area ="Admin"})',
                    contentType: false,
                    processData: false,
                    data: data

                }).done(function(res) {
                    //منظور از دون  وقتی اطلاعات به سمت سرور رفت و جواب از سرور آمد
                    if (res.status === "success") {
                        alert(res.message);

                        window.location.href = '@Url.Action("Index","News")';
                    } else {

                        $.each(res.error, function(a, b) {
                            alert(b);
                        });

                    }
                }).fail(function(xhr, b, error) {
                    //منظور از فیل وقتی اطلاعات به سمت سرور نرفت و در همان کامپیوتر کلاینت یا در بدو ورود به سرور خطاداد

                    alert(error);

                });


            });

    </script>
}

