@model library10.Models.News

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, library10



@{
    ViewData["Title"] = "NewsDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="newsdetails" class="container">
    <h3 id="newsheader" class="panel panel-primary panel-heading text-center">آخرین اخبار و اطلاعیه ها</h3>
    <div class="dl-horizontal">
        
        <div class="col-md-2" style="font-size: 17px">
            @Html.DisplayNameFor(model => model.NewsTitle)
        </div>
        <div class="col-md-10" style="font-size:16px">
            @Html.DisplayFor(model => model.NewsTitle)
        </div>
        
    </div>
    <br />
    <hr style="background-color: black;height:1px" />
    <div class="dl-horizontal">
        
        <div class="col-md-2" style="font-size: 17px">
            @Html.DisplayNameFor(model => model.NewsContent)
        </div>
        <div class="col-md-10" style="font-size:16px">
            @Html.Raw(Model.NewsContent)
        </div>
        
    </div>
    <br />
    <div class="dl-horizontal">
        
        <div class="col-md-2" style="font-size: 17px">
            @Html.DisplayNameFor(model => model.NewsDate)
        </div>
        <div class="col-md-10" style="font-size: 16px;color:blue">
            @Html.DisplayFor(model => model.NewsDate)
        </div>
        
    </div>

</div>

