@model library10.Models.ViewModels.AddEditBookViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, library10
@using library10.PublicModel

<form method="post" enctype="multipart/form-data">

    @* Header *@
    @if (Model.AuthorId == 0)

    {
        @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "افزودن کتاب" })

    }

    else
    {
        @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "ویرایش کتاب" })

    }
    @Html.AntiForgeryToken();

    @* body *@
    <div class="modal-body form-horizontal">
        <div class="row">
            <div class="form-group">
                <label asp-for="BookName" class="col-lg-2 col-sm-2 control-label"></label>
                <div class="col-lg-6">
                    <input asp-for="BookName" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label asp-for="BookDescription" class="col-lg-2 col-sm-2 control-label"></label>
                <div class="col-lg-9">
                    <textarea asp-for="BookDescription" class="form-control" id="BookDescription" name="BookDescription"></textarea>

                </div>

                <script type="text/javascript">
                    CKEDITOR.replace('BookDescription');

                </script>
            </div>

            <div class="form-group">
                <label asp-for="BookGroupId" class="col-lg-2 col-sm-2 control-label"></label>
                <div class="col-lg-6">
                    <select asp-for="BookGroupId" asp-items="@Model.BookGroups" class="form-control"></select>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="AuthorId" class="col-lg-2 col-sm-2 control-label"></label>
                <div class="col-lg-6">
                    <select asp-for="AuthorId" asp-items="@Model.Authors" class="form-control"></select>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="BookPageCount" class="col-lg-2 col-sm-2 control-label"></label>
                <div class="col-lg-6">
                    <input asp-for="BookPageCount" class="form-control" />
                </div>
            </div>
            
            
            <div class="form-group">
                <label asp-for="Price" class="col-lg-2 col-sm-2 control-label"></label>
                <div class="col-lg-6">
                    <input asp-for="Price" class="form-control" />
                </div>
            </div>
            
            <div class="form-group">
                <label asp-for="BookImage" class="col-lg-2 col-sm-2 control-label"></label>
                <div class="col-lg-6">
                    <input asp-for="BookImage" type="file" id="files" name="files" multiple />
                </div>
                @if (Model.BookId != 0)
                {
                    <input type="hidden" name="ImageName" value="@Model.BookImage" />
                }
            </div>


            <div class="form-group hidden">
                <label asp-for="BookId" class="col-lg-2 col-sm-2 control-label"></label>
                <div class="col-lg-6">
                    <input asp-for="BookId" class="form-control" />
                </div>
            </div>

            @*<input type="hidden" name="redirecturl" value="@Url.Action("Index","Book")" />*@
            @*بخاطر استفاده از جی کوئری برای ارسال فرم دیگر نیازی به این دستور نیست  *@
        </div>


    </div>

    @* Footer *@
    @if (Model.AuthorId == 0)
    {

        @*@await Html.PartialAsync("_ModalFooter", new ModalFooter { SubmitButtonText = "افزودن کتاب" })*@
        <div class="modal-footer">
            <button class="btn btn-default" type="button" data-dismiss="modal">برگشت</button>

            <input type="button" id="submitdata" class="btn btn-success" value="افزودن کتاب" />

        </div>
    }
    else
    {
        <div class="modal-footer">
            <button class="btn btn-default" type="button" data-dismiss="modal">برگشت</button>

            <input type="button" id="submitdata" class="btn btn-info" value="ویرایش کتاب"/>
        </div>
    }

</form>

