﻿@model string
@using library10.PublicModel


@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, library10

<form asp-controller="Book" asp-action="DeleteBook">

    @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "حذف کتاب" })

    <div class="modal-body form-horizontal">
        آیا از حذف کتاب @Model مطمئن هستید؟
    </div>

    @await Html.PartialAsync("_ModalFooter", new ModalFooter { SubmitButtonText = "حذف کتاب" })

</form>