﻿@model library10.Models.ViewModels.MultiModels

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, library10
@using Microsoft.AspNetCore.Identity
@using library10.Models

@inject SignInManager<ApplicationUser> signInManager

@inject UserManager<ApplicationUser> userManager


<div id="main-div" class="container">

    <div id="right-panel" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <!--start right-panel-->
        <!--سبد-->
        @if (signInManager.IsSignedIn(User))
        {
            <div id="rightpanel-sabad">
                @Html.Partial("_SabadeAmanat")
            </div>

        }


        <!--سبد-->
        <div id="Lastnews" class="div-style">
            <!--start lasnews-->
            @Html.Partial("_LastnewsPartial", Model.LastNews)

        </div><!--end lastnews-->
        <div id="Names" class="div-style">
            <!--start names-->
            @Html.Partial("_SabtenamePartial", Model.Userlisted)

        </div><!--end names-->

    </div><!--end right-panel-->

    <div id="bookdetails" class="col-lg-8 col-md-8 col-sm-12 col-xs-12">


        @foreach (var item in Model.bookDetail)
        {
            <span style="font-size: 19px">عنوان کتاب : <span>@item.BookName</span></span>
            <hr class="hr" />
            <div class="col-md-12">
                <div class="col-md-7">
                    <div>
                        <span style="font-size: 17px;">@Html.DisplayNameFor(model => item.BookGroupName) :<span>@item.BookGroupName</span></span>
                    </div>
                    <br />
                    <div>
                        <span style="font-size: 17px;">@Html.DisplayNameFor(model => item.AuthorName) :<span>@item.AuthorName</span></span>
                    </div>
                    <br />
                    <div>
                        <span style="font-size: 17px;">@Html.DisplayNameFor(model => item.BookPageCount) :<span>@item.BookPageCount</span></span>
                    </div>
                    <br />
                    <div>
                        <span style="font-size: 17px;">@Html.DisplayNameFor(model => item.BookStock) :<span>@item.BookStock</span></span>
                    </div>
                    <br />
                    <div>
                        <span style="font-size: 17px;">@Html.DisplayNameFor(model => item.Price) :<span>@item.Price</span></span>
                    </div>
                    <br />
                    <div>
                        <span style="font-size: 17px;">@Html.DisplayNameFor(model => item.BookViews) :<span>@item.BookViews</span></span>
                    </div>

                    <br />


                    <div class="col-md-12">


                        @* -------------------------------- *@
                        @if (signInManager.IsSignedIn(User))
                        {
                                <a id="btnbookborrow" class="btn btn-success">به امانت بردن</a>

                        }
                        

                        @* ------------------------------------- *@
                        
                        

                        <span id="spnbookid" class="col-md-offset-1"></span>

                        <a id="btnlike" class="btn btn-success glyphicon glyphicon-thumbs-up"></a>
                        <span id="likcounter">@item.BookLikeCount</span>
                        <a id="btndislike" class="btn btn-danger glyphicon glyphicon-thumbs-down"></a>

                        <span class="hidden" id="bId">@item.BookId</span>
                    </div>

                </div>
                <div class="col-md-5">
                    <div>
                        <span><img src="@ViewBag.imagepath@item.BookImage" class="thumbnail" style="width: 290px; height: 280px;" /></span>
                    </div>
                </div>

                <div class="col-md-12" style="height: 1px; width: 100%; background-color: gray; margin-top: 15px;">

                </div>
                <div class="col-md-12">
                    <span style="font-size: 17px; font-weight: 600; margin-bottom: 10px;">
                        @Html.DisplayNameFor(model => item.BookDescription)
                    </span>

                    <div>
                        @Html.Raw(item.BookDescription)
                    </div>
                </div>
            </div>
                    }

    </div>
</div>

@section Scripts{

    <script>

        $('#btnlike').on("click", function () {

            var post_data = $('#bId').text();

            $.ajax({
                type: 'POST',
                url: '@Url.Action("Like","Book")',

                data: { 'bId': post_data },

                success: function(msg) {
                    if (msg.status === 'success') {
                        alert(msg.message);
                        $('#likcounter').text(msg.result)
                    }
                }

            });
        });
//-------------------------------------------------------------------------------------

        $('#btndislike').on("click", function () {

            var post_data = $('#bId').text();

            $.ajax({
                type: 'POST',
                url: '@Url.Action("DisLike", "Book")',

                data: { 'bId': post_data },

                success: function(msg) {
                    if (msg.status === 'success') {
                        alert(msg.message);
                        $('#likcounter').text(msg.result)
                    }
                }

            });
        });
//-------------------------------------------------------------------------------------
        $('#btnbookborrow').on("click", function () {

            //post_data = $('#bId').text();

            $.ajax({
                type: 'POST',
                url: '@Url.Action("Borrow", "Book")',

                data: { 'Id': $('#bId').text() },

                success: function(msg) {
                    if (msg.status === 'success') {
                        alert(msg.message);
                        $('#requestcount').text(msg.sabadcount);
                    } else {
                        alert(msg.message);
                    
                    }
                }

            });
        });




    </script>
}