@model ReflectionIT.Mvc.Paging.PagingList<library10.Models.ViewModels.BookListViewModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, library10
@using System.Diagnostics.Tracing
@using library10.PublicModel
@using ReflectionIT.Mvc.Paging


@{
    ViewData["Title"] = "لیست کتابها";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @Html.Partial("_AdminPanel")
</div>
<div class="col-md-9">

    <div class="panel panel-primary">



        <div class="panel-heading">

            <div class="col-md-3" style="font-size: 17px;">لیست نویسندگان</div>
            <div>
                <form asp-controller="Book" asp-action="SearchBook">
                    <div class="input-group">
                        <div class="col-md-4">
                            <input type="text" id="bookSearch" name="bookSearch" class="form-control" placeholder="جستجو در کتابها.." />
                        </div>
                        <div class="col-md-4">
                            <input type="text" id="authorSearch" name="authorSearch" class="form-control" placeholder="جستجو در نویسندگان.." />
                        </div>
                        <div class="col-md-4">
                            <input type="text" id="bookgroupSearch" name="bookgroupSearch" class="form-control" placeholder="جستجو در گروه بندی.." />
                        </div>
                        <div class="input-group-btn">
                            <button class="btn btn-success pull-right">جستجو!</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="panel-body">
            <div class="btn btn-group marginbootn ">


                <a class="btn btn-primary" id="ShowBook" data-toggle="modal" asp-action="AddBook"
                   data-target="#modal-action-book">
                    <i class="glyphicon glyphicon-plus"></i>
                    افزودن کتاب جدید

                </a>

            </div>

            <table class="table table-bordered table-striped table-condensed" style="border:1px solid black">

                <thead>
                    <tr>
                        <th style="font-weight: 600">ردیف</th>
                        <th class="text-center">@Html.DisplayNameFor(model => model.BookName) </th>
                        <th class="text-center">@Html.DisplayNameFor(model => model.BookPageCount) </th>
                        <th class="text-center">@Html.DisplayNameFor(model => model.Price) </th>
                        <th class="text-center">@Html.DisplayNameFor(model => model.AuthorName) </th>
                        <th class="text-center">@Html.DisplayNameFor(model => model.BookGroupName) </th>
                        <th class="text-center">@Html.DisplayNameFor(model => model.BookImage) </th>


                        <th class="text-center">عملیات</th>

                    </tr>
                </thead>
                <tbody>
                @{
                    int Counter = 1;
                    foreach (var item in Model)
                    {

                        <tr>
                            <td class="text-center">@(Counter++)</td>
                            <td class="text-center">@item.BookName</td>
                            <td class="text-center">@item.BookPageCount</td>
                            <td class="text-center">@item.Price</td>
                            <td class="text-center">@item.AuthorName</td>
                            <td class="text-center">@item.BookGroupName</td>

                            <td class="text-center">
                                <img src="@ViewBag.Rootpath@item.BookImage" style="width: 80px; height: 80px;" class="thumbnail">
                            </td>
                            <td class="text-center">
                                <a asp-action="EditBook" asp-route-id="@item.BookId" class="btn btn-info" id="ShowEditBook" data-toggle="modal"
                                   data-target="#modal-action-book">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                    ویرایش کتاب
                                </a>

                                <a asp-action="DeleteBook" asp-route-id="@item.BookId" class="btn btn-danger" id="ShowDeleteBook" data-toggle="modal"
                                   data-target="#modal-action-book-delete">
                                    <i class="glyphicon glyphicon-trash"></i>
                                    حذف کتاب
                                </a>

                            </td>
                        </tr>
                    }
                }
                </tbody>
            </table>
            <nav class="text-center">
                @await this.Component.InvokeAsync("Pager",new {PagingList=this.Model })
            </nav>
        </div>
    </div>

</div>

@Html.Partial("_Modal", new BootstrapModel { ID = "modal-action-book", Size = ModalSize.Large })
@Html.Partial("_Modal", new BootstrapModel { ID = "modal-action-book-delete", Size = ModalSize.Medium })


@section Scripts{

    <script src="~/js/ModalJs/Book-index.js"></script>
    <script src="~/js/ModalJs/Modal-book-delete.js"></script>
    <script src="~/js/ckeditor/ckeditor.js"></script>
    <script src="~/js/AdminPanelScript.js"></script>

    <script>
        $(document).on('click',
            '#submitdata',
            function(evt) {

                evt.preventDefault();


                var data = new FormData();

                //دریافت مقادیر فایل آپلودی
                var fileupload = $("#files").get(0);
                var files = fileupload.files;

                for (var i = 0; i < files.length; i++) {
                    data.append('files', files[i]);
                }

                //دریافت مقادیر موجود
                $('input,select').each(function(x,y) {

                    data.append($(y).attr('name'), $(y).val());

                });


                //دریافت مقادیر ادیتور

                var editorval = CKEDITOR.instances['BookDescription'].getData();

                data.append('BookDescription', editorval);

                ////ارسال به سمت سرور با ایجکس

                $.ajax({
                    type: "post",
                    url: '@Url.Action("AddEditBook","Book",new{area ="Admin"})',
                    contentType: false,
                    processData: false,
                    data: data

                }).done(function(res) {
                    //منظور از دون  وقتی اطلاعات به سمت سرور رفت و جواب از سرور آمد
                    if (res.status === "success") {
                        alert(res.message);

                        window.location.href = '@Url.Action("Index","Book")';
                    } else {

                        $.each(res.error, function(a, b) {
                            alert(b);
                        });

                    }
                }).fail(function(xhr, b, error) {
                    //منظور از فیل وقتی اطلاعات به سمت سرور نرفت و در همان کامپیوتر کلاینت یا در بدو ورود به سرور خطاداد

                    alert(error);

                });


            });

    </script>
}
