﻿@model library10.Models.ViewModels.MultiModels
@{
    ViewData["Title"] = "لیست کتب درخواستی";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, library10
@using Microsoft.AspNetCore.Identity
@using library10.Models

@inject SignInManager<ApplicationUser> signInManager

@inject UserManager<ApplicationUser> userManager
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpCookie


<div id="main-div" class="container">

    <div id="right-panel" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <!--start right-panel-->
        <div style="margin-bottom: 7px; margin-top: 7px;padding: 5px" class="div-style">
            <span style="color: blue">نام و نام خانوادگی کاربر : <span style="color: brown">@ViewBag.FullName</span></span>
           <br/><br/>
           <span style="color: blue">موجودی حساب :</span>
            <span style="color: brown">@ViewBag.KifePool</span>
            <span style="color: blue">تومان</span>
        </div>
        <div id="Lastnews" class="div-style">
            <!--start lasnews-->
            @Html.Partial("_LastnewsPartial", Model.LastNews)

        </div><!--end lastnews-->
        <div id="Names" class="div-style">
            <!--start names-->
            @Html.Partial("_SabtenamePartial", Model.Userlisted)

        </div><!--end names-->

    </div><!--end right-panel-->
    @if (HttpCookie.HttpContext.Request.Cookies["_brbook"] != null)
    {
        <div id="rightpanel-sabad" class="col-lg-8 col-md-8 col-sm-12 col-xs-12 div-style">

            <div style="color: green; font-size: 18px; text-align: center; margin-top: 10px">لیست کامل کتب درخواستی شما</div>
            <hr style="height: 1px; width: 100%; background-color: black;" />
            <table class="table table-bordered table-striped table-condensed">
                <thead>
                    <tr>
                        <th class="col-md-2 text-center">ردیف</th>
                        <th class="col-md-2 text-center">شماره کتاب</th>
                        <th class="col-md-4 text-center">نام کتاب</th>
                        <th class="col-md-2 text-center">مبلغ امانت</th>
                        <th class="col-md-4 text-center">عملیات</th>
                    </tr>
                </thead>
                <tbody>
                @{
                    int Counter = 1;
                    foreach (var item in Model.SearchedBooks)
                    {
                        <tr>
                            <td>@(Counter++)</td>
                            <td>@item.BookId</td>
                            <td>@item.BookName</td>
                            <td>@item.Price</td>

                            <td>
                                <a asp-area="Admin" asp-action="DeleteRequestedBook" asp-controller="Book" asp-route-id="@item.BookId" style="color: brown">حذف</a>
                            </td>
                        </tr>
                }
                }
                </tbody>
            </table>
            <hr style="border: 1px solid gray"/>
            <div style="color: blue">
                @{
                    var totalprice = Model.SearchedBooks.Sum(a => a.Price);
                }
                مجموغ بهای امانت : <span id="totalprice" style="color: green">@totalprice</span> تومان
            </div>
            <div style="text-align: center; margin-top: 40px;margin-bottom:40px">
                <a id="btnsabterequest" class="btn btn-success" style="width: 120px;">ثبت در خواست</a>
                <a asp-area="" asp-action="Index" asp-controller="Home" class="btn btn-danger" style="width: 120px;">برگشت</a>

            </div>
        </div>

    }
    else
    {
        <div class="text-danger text-center"style="font-size: 22px;">شما هیچ کتابی انتخاب نکرده اید.</div>
    }
    <span class="hidden" id="spnuserid">@userManager.GetUserId(User)</span>
</div>

@section Scripts
{
    <script>
        $('#btnsabterequest').on("click",
            function() {
                var userId = $('#spnuserid').text();
                var tp = $('#totalprice').text();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("BookRequest","Book")',
                    data: { 'userId': userId, 'tp': tp },

                    success: function(msg) {
                        if (msg.status === 'success') {
                            alert(msg.message);
                            window.location.href = '@Url.Action("Index","Home",new {area=""})';
                        } else if (msg.status === 'fail') {
                            alert(msg.message);
                            window.location.href = '@Url.Action("Payment","Payment",new {area="User"})';
                        }
                    }
                });
            });
    </script>
}
