﻿@model library10.Models.ViewModels.MultiModels
@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Identity
@using library10.Models

@inject SignInManager<ApplicationUser> signInManager

@inject UserManager<ApplicationUser> userManager






@section searchSection{
    <form class="navbar-form navbar-left">
        <div class="form-group">
            <input type="text" id="textSearch" name="textSearch" class="form-control" placeholder="جستجو">
        </div>
        <button asp-controller="Home" asp-action="Search" class="btn btn-success">بگرد!</button>
    </form>
}
<div id="main-div" class="container">

    <div id="right-panel" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <!--start right-panel-->
        <!--سبد-->
        @if (signInManager.IsSignedIn(User))
        {

            <div id="rightpanel-sabad">
                @Html.Partial("_SabadeAmanat")
            </div>
        }


        <!--سبد-->


        <div id="Lastnews" class="div-style">
            <!--start lasnews-->
            @Html.Partial("_LastnewsPartial", Model.LastNews)
        </div><!--end lastnews-->
        <div id="Names" class="div-style">
            <!--start names-->
            @Html.Partial("_SabtenamePartial", Model.Userlisted)

        </div><!--end names-->

    </div><!--end right-panel-->

    <div id="main-left-panel" class="col-lg-8 col-md-8 col-sm-12 col-xs-12 pull-left">
        <!---start main-left-panel-->

        @Html.Partial("_LastBookPartial", Model.LasBooks)

        @Html.Partial("_MoreViewerBooksPartial", Model.MoreViewBook)
        @Html.Partial("_SientificBooksPartial", Model.SientificBooks)

    </div><!--end main-left-panel-->

</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(document).ready(function () {
        $(".owl-carousel").owlCarousel();
    });
</script>
