@model library10.Models.ViewModels.MultiModels
@{
    ViewData["Title"] = "جستجو";
}
@using Microsoft.AspNetCore.Identity
@using library10.Models

@inject SignInManager<ApplicationUser> signInManager

@inject UserManager<ApplicationUser> userManager


@section searchSection{
    <form class="navbar-form navbar-left">
        <div class="form-group">
            <input type="text" id="textSearch" name="textSearch" class="form-control" placeholder="جستجو">
        </div>
        <button asp-controller="Home" asp-action="Search" class="btn btn-success">بگرد!</button>
    </form>
}
<div id="main-div" class="container">

    <div id="right-panel" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <!--start right-panel-->
        <!--سبد-->
        @if (signInManager.IsSignedIn(User))
        {
            <div id="rightpanel-sabad">
                @Html.Partial("_SabadeAmanat")
            </div>
        }



        <!--سبد-->
        <div id="Lastnews" class="div-style">
            <!--start lasnews-->
            @Html.Partial("_LastnewsPartial", Model.LastNews)

        </div><!--end lastnews-->
        <div id="Names" class="div-style">
            <!--start names-->
            @Html.Partial("_SabtenamePartial", Model.Userlisted)

        </div><!--end names-->

    </div><!--end right-panel-->

    <div id="main-left-panel" class="col-lg-8 col-md-8 col-sm-12 col-xs-12 pull-left">
        <!---start main-left-panel-->
        <div id="Moreviewerbooks" class="div-style">

            <div class="header-div">کتاب های یافت شده برای عبارت : <span class="text-danger">@ViewBag.word</span></div>
            <div class="hr"></div>
            <div class="row text-center">

                @if (Model.SearchedBooks.Count > 0)
                {
                    foreach (var item in Model.SearchedBooks)
                    {
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="img-thumbnail img-posi">
                                <a asp-area="Admin" asp-controller="Book" asp-action="BookDetails" asp-route-id="@item.BookId" target="_blank">
                                    <img src="@ViewBag.imagepath@item.BookImage" />
                                    <div class="minihr"></div>
                                    <span class="center-block">@item.BookName</span>
                                </a>
                            </div>
                        </div>
                    }

                }

                else
                {
                    <span class="text-danger container" style="font-size: 18px">جستجو نتیجه ای را در بر نداشت.</span>
                }

            </div>



        </div>



    </div><!--end main-left-panel-->

</div>

